.title {
  font: 300% Helvetica;
  color: green;
  text-align: center;
  text-decoration: underline; }

.info {
  font: 200% Times New Toman;
  color: red;
  text-align: left;
  text-shadow: 2px 2px blue; }

li {
  margin: 10;
  padding: 20; }

p {
  font: 150% Helvetica;
  color: black;
  text_align: center; }
