<!DOCTYPE html>
<html>
<head>
<link href="college.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class = "title">
HARVARD COLLEGE
</div>

<div class = "info">
<ul>
<li>Location: Cambridge, Massachussetts</li>
<li>Size: 129302 Undergraduates</li>
<li>U.S. News and World Report Ranking</li>
<li>Quote: 'Harvard students are the sexiest in the world!'</li>
</ul>

<p>
If you want a great college education, come to Harvard. Because at Harvard,
we put the OLL (rearranged: LOL) in COLLEGE!
</p>
</body>
</html>
